body {
    margin: 0;
    font-family: Arial;
    background: #eee;
}

main {
    width: 90%;
    margin: 40px auto;
}

h1 {
    text-align: center;
}

.plans {
    display: flex;
    gap: 20px;
}

.plan {
    flex: 1;
    padding: 25px;
    background: white;
    border: 1px solid #aaa;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.plan:hover {
    transform: scale(1.05);
    background: #e8f1ff;
}

.plan ul {
    text-align: left;
    flex: 1;
    line-height: 2;
}

.price {
    font-size: 28px;
    font-weight: bold;
}

.plan a {
    padding: 10px;
    background: #333;
    color: white;
    text-decoration: none;
}

.popular {
    border: 3px solid #4285f4;
}

@media (max-width: 600px) {
    .plans {
        flex-direction: column;
    }
}
