body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background: #e6f2ff;
}

form {
    width: 400px;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #aaa;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

input:focus, textarea:focus {
    border-color: blue;
    outline: none;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: 0;
    background: #333;
    color: white;
}
