body {
    margin: 0;
    padding: 20px;
    background: #ddd;
    font-family: Georgia;
}

main {
    background: white;
    max-width: 1000px;
    margin: auto;
    padding: 25px;
    column-count: 3;
    column-gap: 30px;
}

h1 {
    column-span: all;
    text-align: center;
    font-size: 35px;
}

img {
    width: 45%;
    float: left;
    margin-right: 10px;
}

p {
    text-align: justify;
    line-height: 1.6;
}

@media (max-width: 700px) {
    main {
        column-count: 2;
    }
}

@media (max-width: 500px) {
    main {
        column-count: 1;
    }
}
